@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-logo-bordeaux: #610807;
  --color-logo-yellow: #facc15;
  --color-logo-cream: #fee5a3;
  --color-logo-text: #2d0a0a;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply antialiased;
}
